---
# Step 2 containers (unchanged)
- name: Run Ubuntu SSH container
  community.docker.docker_container:
    name: ubuntu-ssh
    image: "{{ ubuntu_image }}"
    state: started
    ports:
      - "{{ ubuntu_port }}:22"
    validate_certs: false

- name: Run AlmaLinux SSH container
  community.docker.docker_container:
    name: alma-ssh
    image: "{{ alma_image }}"
    state: started
    ports:
      - "{{ alma_port }}:22"
    validate_certs: false

# Step 5 Jenkins containers
- name: Run Ubuntu Jenkins/Docker container
  community.docker.docker_container:
    name: ubuntu-jenkins
    image: "{{ registry_url }}/ubuntu-jenkins:latest"
    state: started
    privileged: true
    volumes:
      - "/var/lib/docker"
    ports:
      - "2222:22"

- name: Run AlmaLinux Jenkins/Docker container
  community.docker.docker_container:
    name: almalinux-jenkins
    image: "{{ registry_url }}/almalinux-jenkins:latest"
    state: started
    privileged: true
    volumes:
      - "/var/lib/docker"
    ports:
      - "2223:22"

